<!-- Top Navbar for Titles -->
<!-- <nav class="top-navbar">
  <div class="top-nav-title">Learning Angular</div>
  <div class="top-nav-title">MEAN Stack Development</div>
</nav> -->
`
<!-- Main Sidebar Navigation (Vertical Right Sidebar) -->
<div class="container">
  <div class="grid">
    <div class="grid-item" routerLink="/home">Home</div>
    <div class="grid-item" routerLink="/about">About</div>
    <div class="grid-item" routerLink="/component-service">Constructor Service</div>
    <div class="grid-item" routerLink="/injectbasedDI">Inject-based Service</div>
    <div class="grid-item" routerLink="/tdf-example">Tdf form</div>
    <div class="grid-item" routerLink="/rdf-example">Rdf form</div>
    <div class="grid-item" routerLink="/child">Child data</div>
    <div class="grid-item" routerLink="/parent">Parent data</div>
    <div class="grid-item" routerLink="/lifecycle">Lifecycle</div>
    <div class="grid-item" routerLink="/style">Styles</div>
    <div class="grid-item" routerLink="/selectors">Selectors</div>
    <div class="grid-item" routerLink="/card">Content Projection</div>
    <div class="grid-item" routerLink="/hostname-example">HostExample</div>
    <div class="grid-item" routerLink="/ng-component-outlet">Dynamic rendering</div>
    <div class="grid-item" routerLink="/view-container-ref">Dynamic rendering</div>
    <div class="grid-item" routerLink="/customelement">Custom elements</div>
    <div class="grid-item" routerLink="/binding">Binding</div>
    <div class="grid-item" routerLink="/two-way binding">Two-way binding</div>
    <div class="grid-item" routerLink="/signal-example">Signals</div>
    <div class="grid-item" routerLink="/signals-rxjs">Signals with RxJS</div>
    <div class="grid-item" routerLink="/user-management">Control flow</div>
    <div class="grid-item" routerLink = "/template-driven">Template-driven form</div>
    <div class="grid-item" routerLink="/reactive-driven-form">reactive-driven-form</div>
  </div>
  <router-outlet></router-outlet>
</div>


<app-template-driven-form></app-template-driven-form>
<!-- <app-user-management></app-user-management> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="center-content">
  <h1>HMR USAGE</h1>
  <input type="text" [(ngModel)]="hmrUpdates">
</div> -->
