/* You can add global styles to this file, and also import other style files */
h6{
    color:cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
body{
   background-color: rgb(217, 192, 217);
   margin-bottom: 200px;
   padding :100px;
}



